/* Estilos para desktop */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Tilt+Warp&display=swap');

body{
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    margin: 0;
}

/*CLASSES DE USO GERAL - INICIO*/
.bloco-base{
    width: 100%;
    padding: 8rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.bloco-base-2{
    width: 100%;
    padding: 7rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.bloco-simples{
    padding: 1rem 1rem 3rem 1rem;
    margin: 1rem 1rem 3rem 1rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1rem 1rem 1rem rgba(85, 85, 85, 0.562);
    border-radius: 1rem;
}

.bloco-img{
    padding: 2rem;
}

.bloco-img-simples{
    width: 5rem;
    display: flex;
    justify-content: initial;
    padding: 1rem;
    height: 5rem;
    border-radius: 50rem;
    overflow: visible;
    transition: 0.7s;
}

.bloco-txt-normal{
    width: 25rem;
    padding: 3rem;
}

.bloco-txt-grande{
    width: 30rem;
    padding: 3rem;
}

.bloco-txt-xgrande{
    width: 50%;
    padding: 8rem 3rem;
}

.bloco-redondo{
    border-radius: 100%;
    width: 15rem;
    height: 15rem;
    overflow: visible;
}

.texto {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: justify;
}

.imagem-pequena{
    width: 10rem;
    position: absolute;
    transform: translateX(-3rem);
    margin: 0 auto;
    transition: 0.7s;
}
.imagem-xpequena{
  width: 6rem;
  display: inline-block;
  align-self: center;
  margin: 0 auto;
  transition: 0.7s;
}

.imagem-pequena:hover{
    width: 12rem;
}

.imagem-normal{
    width: 20rem;
    height: auto;

}
.imagem-grande{
    width: 30rem;
}

.leia-mais{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: aqua;
}

.leia-mais-escuro{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: rgb(11, 74, 146);
    font-weight: bold;
}

/* .borda-suave{
    border-radius: 3rem;
    box-shadow: 1px 1px 1px 1px solid;
} */


.bg-escuro{
    background-color: rgba(0, 0, 0, 0.808);
}

.bg-amarelo{
    background-color: rgb(252, 237, 34);
}

.bg-claro{
    background-color: rgba(236, 234, 230, 0.842);
}

.bg-vermelho{
    background-color: brown;
}

.bg-verde{
  background-color: rgb(87, 204, 146);
}

.bg-branco{
    background-color: rgba(255, 255, 255, 0.945);
}

.bg-azul{
  background-color: rgb(59, 192, 209);
}

.h1{
    font-family: 'Tilt Warp', cursive;
    font-size: 3rem;
}

h2{
    font-family: 'Tilt Warp', cursive;
    font-size: 2rem;
}

.flex-normal{
    flex-direction: row;
}

.flex-inverso{
    flex-direction: row-reverse;
}

.ft-clara{
    color: bisque;
}
.ft-vermelho{
    color: rgb(235, 41, 41);
}

.ft-preto{
    color: rgb(22, 22, 22);
}

.cube {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(32deg) rotateY(-12deg) rotateZ(15deg) translateX(-77px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
  }
  .cube-wrap {
    perspective: 1000px;
    perspective-origin: 50% 50%;
  }
/*CLASSES DE USO GERAL - FIM*/

.slider {
    position: relative;
    width: 30rem;
    overflow: visible;
  }
  
  .slide {
    position: relative;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1;
    width: 100%;
    height: auto;
  }
  

/*VIDEO DE FUNDO - INICIO*/
.video-background {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* coloca o vídeo atrás do conteúdo */
  }
  
  .video-background .content {
    position: relative;
    z-index: 1; /* coloca o conteúdo na frente do vídeo */
  }

  /*VIDEO DE FUNDO - FIM*/

  body{
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
  header{
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  h1{
    margin: 0;
    font-size: 36px;
  }
  
  main{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }

  p{
    margin: 2rem 0;
    text-align: justify;
  }
  
  img{
    max-width: 100%;
    height: auto;
    margin: 20px 0;
  }
  
  /* INICIO MENU VOLTAR */
  .menu-nav{
    background-color: #1f1f1f00;
    position: fixed;
    width: 100%;
    height: 4rem;
    color: #fff;
    margin: 0;
    padding: 0 1rem;
    z-index: 100;
    transition: 1.2s;
  }

  .menu-nav.scrolled{
    background-color: #000000a4;
  }
  
  .menu-ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .menu-li{
    list-style: none;
    padding: 0;
    margin: -0.5rem 1rem;
    position: relative;
  }
  
  .menu-a{
    color: #fff;
    text-decoration: none;
    transition: 0.5s;
    font-size: 3rem;
  }
  
  .menu-a:hover {
    color: #ccc;
    font-size: 3.5rem;
  }

  /* FIM MENU VOLTAR */

/* Estilos para dispositivos móveis */
@media only screen and (max-width: 980px) {
    .bloco-txt-xgrande{
        width: 100%;
        padding: 8rem 3rem;
    }

}
@media only screen and (max-width: 800px) {
    .container {
        max-width: 100%;
        
    }
    .texto {
        font-size: 1rem;
        line-height: 1.3;
    }
    
}

@media only screen and (max-width: 700px) {
  .imagem-grande{
    width: 20rem;
  }
}